Instagram_Scraper.json
{
  "name": "⭐ AI Instagram Scraper (Full)",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://instaloader:5633/scrape",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json['Enter Reel URL'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        -220
      ],
      "id": "9cfc463b-26d4-42fe-a516-de0f6a76f6cd",
      "name": "Instaloader",
      "notesInFlow": true,
      "notes": "Scrape Instagram Reels With Instaloader"
    },
    {
      "parameters": {
        "url": "http://instaloader:5633/health",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        -660
      ],
      "id": "a4c4dbcb-160c-4fea-b76d-2072dad86991",
      "name": "Instaloader /health"
    },
    {
      "parameters": {
        "content": "## Scraper Health Check",
        "height": 280,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        340,
        -760
      ],
      "id": "6f75c504-c732-4eff-b8ab-8d3e26c1c81f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Input From GSheet\nLoop over updated cells. Cells are populated by a google form.\n- [Form Link](https://docs.google.com)",
        "height": 720,
        "width": 860,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -540,
        -440
      ],
      "id": "da8cdea5-7805-4c56-b2dd-f8a68eb5223c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WweqNgRx1dzNDK7HvPnLk1nY69SOgzOcfT60qm4AF6o",
          "mode": "list",
          "cachedResultName": "Bali Planning",
          "cachedResultUrl": "https://docs.google.com"
        },
        "sheetName": {
          "__rl": true,
          "value": 583094610,
          "mode": "list",
          "cachedResultName": "Food & Drink",
          "cachedResultUrl": "https://docs.google.com"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Loop Over Extracted Items').item.json.name }}",
            "Type": "={{ $('Loop Over Extracted Items').item.json.type }}",
            "Location": "={{ $('Loop Over Extracted Items').item.json.location }}",
            "Notes": "={{ $('Loop Over Extracted Items').item.json.notes }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3080,
        -520
      ],
      "id": "2e2ca96c-4122-41dd-b13e-66e4358b42c5",
      "name": "Food & Drink",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wT9ixM2iiDQb80kt",
          "name": "Peter Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WweqNgRx1dzNDK7HvPnLk1nY69SOgzOcfT60qm4AF6o",
          "mode": "list",
          "cachedResultName": "Bali Planning",
          "cachedResultUrl": "https://docs.google.com"
        },
        "sheetName": {
          "__rl": true,
          "value": 638188409,
          "mode": "list",
          "cachedResultName": "Accommodations",
          "cachedResultUrl": "https://docs.google.com"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Type": "={{ $('Loop Over Extracted Items').item.json.type }}",
            "Location": "={{ $('Loop Over Extracted Items').item.json.location }}",
            "Notes": "={{ $('Loop Over Extracted Items').item.json.notes }}",
            "Budget": "={{ $('Loop Over Extracted Items').item.json.budget }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3080,
        -320
      ],
      "id": "f9eea95e-b620-4364-affe-716f3fc003fd",
      "name": "Accommodations",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wT9ixM2iiDQb80kt",
          "name": "Peter Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WweqNgRx1dzNDK7HvPnLk1nY69SOgzOcfT60qm4AF6o",
          "mode": "list",
          "cachedResultName": "Bali Planning",
          "cachedResultUrl": "https://docs.google.com"
        },
        "sheetName": {
          "__rl": true,
          "value": 457516858,
          "mode": "list",
          "cachedResultName": "Activities & Attractions",
          "cachedResultUrl": "https://docs.google.com"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Type": "={{ $json.type }}",
            "Location": "={{ $json.location }}",
            "Notes": "={{ $json.notes }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3080,
        -120
      ],
      "id": "40668367-6ba6-4477-bea1-376e2735c9e2",
      "name": "Activities & Attractions",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wT9ixM2iiDQb80kt",
          "name": "Peter Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WweqNgRx1dzNDK7HvPnLk1nY69SOgzOcfT60qm4AF6o",
          "mode": "list",
          "cachedResultName": "Bali Planning",
          "cachedResultUrl": "https://docs.google.com"
        },
        "sheetName": {
          "__rl": true,
          "value": 438732193,
          "mode": "list",
          "cachedResultName": "Info & Other",
          "cachedResultUrl": "https://docs.google.com"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Notes": "={{ $('Loop Over Extracted Items').item.json.notes }}",
            "Topic": "={{ $('Loop Over Extracted Items').item.json.name }}",
            "Info": "={{ $('Loop Over Extracted Items').item.json.type }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Info",
              "displayName": "Info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3080,
        80
      ],
      "id": "a5501086-4efc-4318-b578-d4c84d65b55f",
      "name": "Info & Other",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wT9ixM2iiDQb80kt",
          "name": "Peter Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2440,
        -220
      ],
      "id": "ff1b6e09-7e20-4e81-a6e7-d83b021791a7",
      "name": "Loop Over Extracted Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b06fd069-74af-4136-9813-a40c7d1b7c27",
              "leftValue": "={{ $json.Scraped }}",
              "rightValue": "y",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        60,
        -220
      ],
      "id": "0c55accb-dba4-48e0-8b0f-391ab0a9c8f1",
      "name": "If Not Already Scraped"
    },
    {
      "parameters": {
        "content": "## Scrape Reel\nDone with Instaloader served by a flask app in a docker container.",
        "height": 720,
        "width": 600
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        340,
        -440
      ],
      "id": "8ecbeb7f-fb98-497d-82cb-1537c17ebd52",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## AI Info Extraction\nPrompt gpt4.1mini to extract the infomation and proveds a schema to output items to.",
        "height": 720,
        "width": 720,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1520,
        -440
      ],
      "id": "891240c3-933b-420a-a514-c407173f6f68",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Save Extracted Infomation\nIterate over the extracted items and save to the relevant sheet.\n",
        "height": 1140,
        "width": 1200,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2260,
        -620
      ],
      "id": "877a744d-5b2c-41ff-9be3-b3224b851b0d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "amount": 1.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3260,
        300
      ],
      "id": "a4bccb4a-95aa-4b4a-9021-278732659759",
      "name": "Wait",
      "webhookId": "8c3f0432-d25f-452a-ae4c-4aa39fb85c2e",
      "notesInFlow": true,
      "notes": "Pause for API rate limiting."
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1KRbvPaT_hBP0m7VYdEzL3cVCEKggOiFkb8-EBmSKa6o",
          "mode": "list",
          "cachedResultName": "Scrape Bali Reels (Responses)",
          "cachedResultUrl": "https://docs.google.com"
        },
        "sheetName": {
          "__rl": true,
          "value": 873739998,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -220
      ],
      "id": "5c82bb9e-d9bd-4910-b979-ac5a794e5a81",
      "name": "Google Sheets Updated",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "kHT2Z1IVNbRUHd6r",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -200,
        -220
      ],
      "id": "4b39777c-fc31-45e6-875b-6d99fa7b7055",
      "name": "Loop Over New Rows"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1KRbvPaT_hBP0m7VYdEzL3cVCEKggOiFkb8-EBmSKa6o",
          "mode": "list",
          "cachedResultName": "Scrape Bali Reels (Responses)",
          "cachedResultUrl": "https://docs.google.com"
        },
        "sheetName": {
          "__rl": true,
          "value": 873739998,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Scraped": "y",
            "Timestamp": "={{ $('Google Sheets Updated').item.json.Timestamp }}",
            "Enter Reel URL": "={{ $('Google Sheets Updated').item.json['Enter Reel URL'] }}",
            "Scrape Audio?": "={{ $('Google Sheets Updated').item.json['Scrape Audio?'] }}"
          },
          "matchingColumns": [
            "Enter Reel URL"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enter Reel URL",
              "displayName": "Enter Reel URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Scrape Audio?",
              "displayName": "Scrape Audio?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scraped",
              "displayName": "Scraped",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2640,
        40
      ],
      "id": "22785e1f-4629-4a7d-a9d9-ad92743f7d9e",
      "name": "Mark Row As Scraped",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wT9ixM2iiDQb80kt",
          "name": "Peter Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "272a4e3d-ab14-41c0-993b-d9b440a9d872",
              "leftValue": "={{ $json.description }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "cbdcbef3-0f39-465b-994f-6b2ad53a1b7c",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        -220
      ],
      "id": "5efff4e5-da26-4af2-b135-1c959050062d",
      "name": "If Successful",
      "notesInFlow": false
    },
    {
      "parameters": {
        "text": "=Description: {{ $json.description }} Transcript {{ $json.transcript }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"items\": [\n    {\n      \"category\": \"Food & drink\",\n      \"name\": \"Seaside Café\",\n      \"type\": \"Café\",\n      \"location\": \"Malibu Beach\",\n      \"notes\": \"Known for fresh seafood tacos and live acoustic music on Sundays.\"\n    },\n    {\n      \"category\": \"Accommodations\",\n      \"location\": \"Ocean View Hotel, Malibu\",\n      \"type\": \"Hotel\",\n      \"budget\": \"$200/night\",\n      \"notes\": \"Beachfront property with free breakfast and easy access to the pier.\"\n    },\n    {\n      \"category\": \"Activities & Attractions\",\n      \"name\": \"Big Waterfall\",\n      \"location\": \"address\",\n      \"type\": \"Sightseeing\",\n      \"notes\": \"Bring shoes, it gets muddy.\"\n    },\n    {\n      \"category\": \"Info & Other\",\n      \"topic\": \"Health & safety\",\n      \"info\": \"Wear reef-safe sunscreen; strong rip currents after noon.\",\n      \"notes\": \"Lifeguards on duty until 6 PM; exits clearly marked.\"\n    }\n  ]\n}",
        "options": {
          "systemPromptTemplate": "=You are an expert at reading social-media content and extracting structured data. We are going on holiday and this is research.\n\n• Identify every distinct piece of actionable information in the description and transcript (e.g., a hotel mention, a restaurant, a safety tip) and output each as a separate items[] entry.\n• Assign each entry exactly one category: \"Food & Drink\", \"Accommodations\", \"Activities & Attractions\", or \"Info & Other\". \n• These are the catagories and their descriptions\n- - Food & Drink are **ONLY spesific locations to eat and drink** e.g \"Sam's beach bar bali\". The type is: \"Restaurants\", \"Cafes\" etc \n- - Accommodations is places to stay: Hotels, Hostles, etc\n- - Activities & Attractions are things to do: Bars, Beaches, Clubs, Snorkling etc\n- - Info & Other are pices of infomation, often includes tips and tricks etc\n• Take into context the rest description and transcript for categorising each item. E.g If the whole content is about \"10 Safety Tips\", all items will likely be \"Info & Other\" catergory\n• For each category, include only the sheet-specific fields plus a notes field that may be as long as needed to capture all relevant details.\n• Do not invent extra keys or categories.\n• Return only valid JSON matching the schema."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        1640,
        -220
      ],
      "id": "62463a42-03e2-454e-915d-57c65c074ed9",
      "name": "AI Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1640,
        40
      ],
      "id": "c36aa987-2d10-470d-bdba-c414381ff9a7",
      "name": "OpenAI GPT-4.1-Mini",
      "credentials": {
        "openAiApi": {
          "id": "0SqRX0wIOqwhBSR8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Grab the full JSON output from the Information Extractor\nconst extractedItems = $input.first().json.output.items\n\nreturn extractedItems.map(entry => ({\n  json: {\n    ...entry,\n    shortcode: $('If Successful').first().json.shortcode,\n    description: $('If Successful').first().json.description,\n    timestamp: $('Google Sheets Updated').first().json.Timestamp\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        -220
      ],
      "id": "d91e7b3f-55b1-4953-84be-41715d86a272",
      "name": "Extract Outputs"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Food & Drink",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fcf768e3-f71c-4edb-8663-8f7c4395800e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "01e1d2de-b230-49ae-b91c-f8c310b0e59d",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Accommodations",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "484b072d-9c35-4b99-92b7-0b7c2ecce87e",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Activities & Attractions",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a1df2167-c67e-4cf2-a8ce-c98db173d9c0",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2860,
        -240
      ],
      "id": "3153c264-f478-41ed-a25e-195de9727f09",
      "name": "Select Sheet To Update"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "272a4e3d-ab14-41c0-993b-d9b440a9d872",
              "leftValue": "={{ $('Loop Over New Rows').item.json['Scrape Audio?'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cbdcbef3-0f39-465b-994f-6b2ad53a1b7c",
              "leftValue": "={{ $('Loop Over New Rows').item.json['Scrape Audio?'] }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1060,
        -220
      ],
      "id": "81d2c3f8-b6b7-403f-bfb3-d5b6aec4c96a",
      "name": "If Transcribe",
      "notesInFlow": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whisper:5632/transcribe",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "path",
              "value": "={{ $json.video }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        -340
      ],
      "id": "f6c7a4c5-820e-4f45-b15d-80bbffd3455c",
      "name": "Whisper",
      "notesInFlow": true,
      "notes": "Scrape Instagram Reels With Instaloader"
    },
    {
      "parameters": {
        "content": "## Transcribe\nTranscribes the reel audio with whisper if necessary\n ",
        "height": 720,
        "width": 540,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        -440
      ],
      "id": "c897f3b0-582b-4f4d-a290-c60a89b20271",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Instaloader": {
      "main": [
        [
          {
            "node": "If Successful",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Extracted Items": {
      "main": [
        [
          {
            "node": "Mark Row As Scraped",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select Sheet To Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info & Other": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activities & Attractions": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accommodations": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Food & Drink": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Already Scraped": {
      "main": [
        [
          {
            "node": "Instaloader",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over New Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Extracted Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Updated": {
      "main": [
        [
          {
            "node": "Loop Over New Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over New Rows": {
      "main": [
        [],
        [
          {
            "node": "If Not Already Scraped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Row As Scraped": {
      "main": [
        [
          {
            "node": "Loop Over New Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Successful": {
      "main": [
        [
          {
            "node": "If Transcribe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over New Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Information Extractor": {
      "main": [
        [
          {
            "node": "Extract Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4.1-Mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Outputs": {
      "main": [
        [
          {
            "node": "Loop Over Extracted Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Sheet To Update": {
      "main": [
        [
          {
            "node": "Food & Drink",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Accommodations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Activities & Attractions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Info & Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Transcribe": {
      "main": [
        [
          {
            "node": "Whisper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper": {
      "main": [
        [
          {
            "node": "AI Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8df84910-01b7-4454-bef7-1ab654ac0aa8",
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true,
    "instanceId": "eb0f7cb2d7bf45479cdadc729cf147ad5db76735e6e034447a3c06c1f1972392"
  },
  "id": "cgBqiEsI5lBiknqv",
  "tags": [
    {
      "createdAt": "2025-05-23T11:59:32.608Z",
      "updatedAt": "2025-05-23T11:59:32.608Z",
      "id": "QsR8CMWTncnGRwWT",
      "name": "VIPs"
    }
  ]
}